<app-user-component/>
<div style="" class="test">
  <h4 style="display: flex; flex-direction: column; align-items: center;">{{hello.title}}</h4>
  <p style="display: flex; flex-direction: column; align-items: center;">{{hello.id}}</p>
  <p style="display: flex; align-items: center; flex-direction: column; ">all-component works!</p>
  <h1>userId: 1, id: 1,
    title: 'sunt aut facere repellat provident occaecati excepturi optio reprehenderit',
    body: 'quia et suscipit\n' +
      'suscipit recusandae consequuntur expedita et cum\n' +
      'reprehenderit molestiae ut ut quas totam\n' +
      'nostrum rerum est autem sunt rem eveniet architecto'</h1>
</div>

